
SpringBoot/Data_Intergrity_and_Optimization/N+1 query and eager loading/mysql-demo/src/test/java/com/example/demo/MysqlDemoApplicationTests.java
/.metadata/
SpringBoot/Data_Intergrity_and_Optimization/N+1 query and eager loading/mysql-demo/src/main/resources/application.properties
